#post-comment{
    cursor: not-allowed;
}

textarea {
    border: none; 
    width: 100%;
    resize: none;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    font-weight: var(--regular-font-weight);
    font-size: var(--main-font-size);
}


.body {
    width: 600px;
    text-align: start;
    margin-bottom: 50px;
}
.head{
    width: 544px;
    margin : 0 auto;
}
.head .title {
    width: 544px;
    text-align: start;
    margin-top: var(--spacing-large);
    margin-bottom: var(--spacing-medium);
}
.detail{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-large);
}
.text-detail{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
}
.writer-detail{
    display: flex;
    flex-direction:row;
    align-self: center;
    margin: 0 10px;
}
.time-detail{
    align-self: center;
    margin: 0 10px;
}


.small-buttons{
    gap: 8px;
    display: flex;
    flex-direction:row;
    align-self: center;
}
.sbutton{
    width: 50px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 1px solid #ACA0EB;
    border-radius: 8px;
    
    text-decoration: none;
    color: #000;
    font-weight: var(--regular-font-weight);
    font-size: var(--main-font-size);
}

.body .horizontal-rule {
    opacity: 0.16;
}

.main {
    width: 544px;
    margin: 0 auto;
}
.board-image{
    width:100%;
    margin-top: var(--spacing-medium);
}

.infos {
    display:flex;
    justify-content: center;
    justify-items:center;
    gap: 8px;
    text-align: center;
    margin: 32px 0px
}
.info {
    width: 116px;
    height: 77px;
    background: rgba(217, 217, 217, 1);
    border-radius: 16px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

.info .num, .info h4{
    margin: 1px;
}
.info .num {
    margin-top: var(--spacing-small);
    font-weight: var(--bold-font-weight);
    font-size: var(--sub-title-font-size);
}

.write-comment form{
    width: 592px;
    height: 169px;
    margin: 32px auto;
    background:#fff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.write-comment .purple-small-btn{
    margin-top: var(--spacing-small);
    margin-right: var(--spacing-small);
    align-self: flex-end;
}

.comments{
    width: 544px;
    margin: 0 auto;
}
.comments .unit{
    margin: 20px 0px;
}
.comments .detail{
    margin: 5px 0;
}
.comments .content{
    margin: 0 46px
}
