.write-btn:hover{
    background-color: var(--btn-purple-possible);
}

body{
    overflow: hidden;
}

.body {
    width:  610px;
    text-align: center;
    
}

.body .hello {
    font-weight:var(--regular-font-weight);
    font-size: var(--large-font-size);
    margin: 40px 0px 30px 0px;
}

.write {
    display: flex;
    justify-content: flex-end;
    flex-direction:row;
}

.list{
    overflow-y: scroll;
    display: flex;
    margin-top: var(--spacing-large);
    flex-direction: column;
    max-height: 500px;
}

.unit{
    width: 592px;
    height: 169px;
    background-color: var(--white);
    border-radius: 16px;
    box-shadow: 3px 4px 4px 0px rgba(204, 204, 204, 0.25);
    margin: var(--spacing-small) 0;
}
.unit h3{
    margin: 0 var(--spacing-small);
}

.content .title{
    text-align: start;
    margin: 18px 30px 8px 30px;
}

.detail{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin: 6px 30px 16px 30px;
}

.list .horizontal-rule {
    opacity: 0.16;
}


.writer {
    display: flex;
    flex-direction:row;
    align-items: center;
    margin: 16px 22px 19px 22px;
}