/* 헤더 설정 */
header{
    display: flex;
    flex-direction: column;
    width: 100%;
}
header .title{
    justify-content: center;
    text-align: center;
    font-weight: var(--regular-font-weight);
    font-size: var(--title-font-size);
    font-family: "Poor Story", system-ui;
    cursor: pointer;
}
header .box {
    position: absolute;
    left: 50%;
    transform: translateX(600%);
    top: 34px; 
}

header .back{
    position: absolute;
    right: 50%;
    transform: translateX(-250px);
    top: 40px; 
    font-size: 18px;
    cursor: pointer;
}

/* 가로줄 구분선 */
.horizontal-rule {
    height: 1px;
    border: 0;
    background-color: #000000;
    margin: 0px;
}